/**
 * Plugin Name: LOOPIS Admin
 * Description: Custom styling for WP Admin area of LOOPIS.app
 */

/* General styling for menu icons */
#adminmenu div.wp-menu-image {
    float: left;
    width: 36px;
    height: 34px;
    margin: 0;
    text-align: center;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 20px 20px !important;
}

/* Posts icon - hide original */
#adminmenu #menu-posts .wp-menu-image:before {
    content: none !important;
}

/* Posts icon - LOOPIS custom */
#adminmenu #menu-posts .wp-menu-image {
    background-image: url('../img/wp-admin-menu/icon-posts.png') !important;
    opacity: .6;
}

/* Posts icon - hover and active state */
#adminmenu li.menu-top:hover #menu-posts .wp-menu-image,
#adminmenu li.wp-has-current-submenu #menu-posts .wp-menu-image {
    opacity: 1;
}

/* Other icons */
#adminmenu .wp-menu-image img {
    width: 20px;
    height: 20px;
    padding: 7px 0 0;
    opacity: .6;
}

/* Other icons - hover and active state  */
#adminmenu li.menu-top:hover .wp-menu-image img, 
#adminmenu li.wp-has-current-submenu .wp-menu-image img {
    opacity: 1;
}

/* Extra colors for buttons */
.button.wp-blue {
    background: #2271b1;
    border-color: #2271b1;
}

.button.wp-blue:hover,
.button.wp-blue:focus {
    background: #135e96;
    border-color: #135e96;
}

.button.wp-green {
    background: #00a32a;
    border-color: #00a32a;
}

.button.wp-green:hover,
.button.wp-green:focus {
    background: #028024;
    border-color: #028024;
}

.button.wp-red {
    background: #bf4747;
    border-color: #bf4747;
}

.button.wp-red:hover,
.button.wp-red:focus {
    background: #a53535;
    border-color: #a53535;
}

.button.wp-orange {
    background: #d98200;
    border-color: #d98200;
}

.button.wp-orange:hover,
.button.wp-orange:focus {
    background: #b26900;
    border-color: #b26900;
}